[[imports]]
  path = "github.com/vovanukas/doks-core"

[[mounts]]
  source = "content"
  target = "content"

[[mounts]]
  source = "data"
  target = "data"

[[mounts]]
  source = "layouts"
  target = "layouts"

[[mounts]]
  source = "i18n"
  target = "i18n"

[[mounts]]
  source = "archetypes"
  target = "archetypes"

[[mounts]]
  source = "assets"
  target = "assets"

[[mounts]]
  source = "static"
  target = "static"
